## Lab 3: pandas

#### Introduction

We will examine a dataset containing characteristics of lego sets manufactured between 1961 and 2019 from the BRICKSET website. Variables in the dataset are described below.

| VARIABLE             |      DESCRIPTION             |
|:----------|:-------------|
| ID |  set id |
| Name |    name of set   |
| Themegroup | themegroup of set |
| Theme |  theme of set |
| Subtheme |    subtheme of set   |
| Year | year released |
| Pieces |  number of pieces |
| Minifig |    number of minifigs   |
| Package | type of packaging |
| Retail_Price |  recommended retail pri



Load pandas to read in the data and save it as dataframe named lego.

In [180]:
import pandas as pd

lego = pd.read_csv('lego.csv')
lego.describe()

               year        pieces      minifigs  retail_price
count  12213.000000  11125.000000  12214.000000   7849.000000
mean    2003.202817    201.429124      1.381775     28.547607
std       13.683488    382.014126      2.405519     41.036308
min     1955.000000      0.000000      0.000000      0.000000
25%     1997.000000     25.000000      0.000000      6.000000
50%     2007.000000     70.000000      1.000000     14.990000
75%     2014.000000    223.000000      2.000000     34.990000
max     2019.000000  10004.000000     36.000000    799.990000

In [182]:
lego.head()

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
0,100STORES-1,100 Stores minifigure,Miscellaneous,Promotional,LEGO brand stores,2019.0,NaN,0,Blister pack,NaN
1,10264-1,Corner Garage,Model making,Creator Expert,Modular Buildings,2019.0,2569.0,6,Box,199.99
2,10265-1,Ford Mustang,Model making,Creator Expert,Vehicles,2019.0,1471.0,0,Box,149.99
3,10766-1,Woody & RC,Licensed,Toy Story,Toy Story 4,2019.0,69.0,0,Box,9.99
4,10769-1,RV Vacation,Licensed,Toy Story,Toy Story 4,2019.0,178.0,0,Box,34.99

#### Question 1:
Some sets have missing information for retail_price or pieces or both. This could be because the sets are free (giveaways), they arenâ€™t traditional lego sets (comic books, etc) or just because the information is missing. Filter the lego dataset based on the specifications below and save the result as lego. Hence, you will overwrite the original lego object. In addition, describe the implications of removing these sets.

Your new lego (data frame) should have:

â€¢ no missing pieces

â€¢ only contain sets with a nonzero number of pieces

â€¢ no missing retail_price

â€¢ only contain sets with a nonzero retail_price

â€¢ no missing year

- Print out the shape of the dataframe after cleaning the dataset.
-

In [185]:
# Write your answer here
# no missing pieces
print(lego.shape)
lego2 = lego.dropna()
print(lego2.shape)
#only contain sets with a nonzero number of pieces
lego3 = lego.loc[lego.pieces> 0 , : ]
print(lego3.shape)
#no missing retail_price
lego4 = lego.dropna(subset=['retail_price'])
print(lego4.shape)
#only contain sets with a nonzero retail_price
lego5 = lego.loc[lego.pieces> 0 , : ]
print(lego5.shape)
#no missing year
lego6 = lego.dropna(subset=['year'])
print(lego6.shape)

(12214, 10)
(4360, 10)
(11123, 10)
(7849, 10)
(11123, 10)
(12213, 10)

In [187]:
print(lego.shape)

(12214, 10)

#### Question 2:	
Arrange the dataset in descending order of retail_price and print the first three rows. Report in words the names of the three most expensive lego sets, their prices, and how many pieces each has.

In [190]:
# Write your answer here
lego2.sort_values(by='retail_price',ascending = False).head(3)

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price
1434,75192-1,Millennium Falcon,Licensed,Star Wars,Ultimate Collector Series,2017.0,7541.0,8,Box,799.99
2065,75159-1,Death Star,Licensed,Star Wars,Ultimate Collector Series,2016.0,4016.0,27,Box,499.99
5944,10179-1,Ultimate Collector's Millennium Falcon,Licensed,Star Wars,Ultimate Collector Series,2007.0,5197.0,5,Box,499.99

#### Question 3:

It appears that the most expensive sets generally have more pieces. Create a new variable (column) price_per_piece, representing the price in dollars per piece for each of the sets. Save the result as lego2. Hence, you will overwrite the current lego object.

In [201]:
# Write your answer here
lego2['price_per_piece'] = lego2.retail_price / lego2.pieces
lego2.sample(6)

C:\Users\Sahar AL\AppData\Local\Temp\ipykernel_1348\2829323317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lego2['price_per_piece'] = lego2.retail_price / lego2.pieces

,id,name,themegroup,theme,subtheme,year,pieces,minifigs,package,retail_price,price_per_piece
10193,1489-1,Mobile Car Crane,Modern day,Town,Vehicles,1989.0,174.0,2,Box,12.75,0.073276
4299,8833-6,Diver,Miscellaneous,Collectable Minifigures,Series 08,2012.0,8.0,1,Foil pack,2.99,0.373750
4871,BEACHWOOD-1,Beachwood Exclusive Minifigure Pack,Miscellaneous,Promotional,LEGO brand store opening set,2011.0,15.0,3,Blister pack,0.00,0.000000
1448,75881-1,2016 Ford GT & 1966 Ford GT40,Licensed,Speed Champions,Ford,2017.0,366.0,3,Box,29.99,0.081940
8859,3722-1,Treasure Tomb,Historical,Adventurers,Desert,1998.0,164.0,0,Box,20.00,0.121951
7268,4512-1,Cargo Train,Modern day,World City,Trains,2003.0,548.0,3,Box,140.00,0.255474

#### Question 4:	

Arrange the lego2 dataset in descending order of price_per_piece and return only the columns: name, themegroup, theme, pieces, price_per_piece, and the first five rows. What do you notice about these sets?

In [203]:
# Write your answer here
sorted_lego = lego2.sort_values(by='price_per_piece',ascending = False)
sorted_lego = sorted_lego.loc[:,['name', 'themegroup', 'theme', 'pieces', 'price_per_piece']]
sorted_lego.head(5)

,name,themegroup,theme,pieces,price_per_piece
5551,Rechargeable Battery Box,Technical,Power Functions,1.0,49.990
5553,Transformer 10V DC,Technical,Power Functions,1.0,29.990
5616,Collectable Display Set 2,Licensed,Star Wars,2.0,24.995
8694,Temperature Sensor,Technical,Mindstorms,1.0,24.000
7540,Robotics Invention System Upgrade Kit,Technical,Mindstorms,1.0,20.000

#### Question 5:

What is the mean price_per_piece for the top 40 'Toy Story' sets in terms of price_per_piece?

In [207]:
# Write your answer here
sorted_lego.loc[sorted_lego.theme == 'Toy Story' , : ].head(40). price_per_piece.mean()

0.16089862892544177

#### Question 6:

What are the unique themes in the lego dataset?

In [209]:
# Write your answer here

lego.theme.value_counts()

theme
Duplo                        1050
Town                          640
Star Wars                     631
Gear                          585
Collectable Minifigures       565
                             ...
Avatar The Last Airbender       2
Primo                           2
The Simpsons                    2
Boost                           1
CITY                            1
Name: count, Length: 139, dtype: int64